body {
  background-color: #414141;
  color: white;
}
.box {
  background-color: cyan;
  height: 50px;
  width: 50px;
  border: 2px black solid;
  text-align: center;
  margin-bottom: 2px;
  margin-left: 100px;
}
