body {
  background-color: #414141;
  color: white;
}

#one {
  text-align: center;
  text-transform: capitalize;
}
p {
  font-family: "Times New Roman", Times, serif;
}
#outer {
  font-size: 25px;
  color: cyan;
}
#inner {
  font-size: 10px;
  color: chocolate;
}
