body {
  background-color: #414141;
  color: white;
}
h1 {
  text-align: center;
  color: cyan;
}
#box1 {
  background-color: green;
  height: 100px;
  width: 100px;
  font-size: 20px;
}
#box2 {
  background-color: yellow;
  height: 50px;
  color: black;
  width: 50%;
  margin-left: 10%;
  font-size: 50%;
}
