body{
    background-color: #414141;
    color: white;
}
.box{
    background-color: cyan;
    color: black;
}
.heading{
    color: red ;
}
button{
    background-color: green;
    text-align: center;
     width: 250px;
      height: 50px;
      border-style: double;
}
 button:hover{
color: black;
box-sizing: inherit;
}
#paragraph2{
    text-align: center;
    color: chocolate;
}
#paragraph1{
    text-align: right;
    color: aqua;
}